* , html , body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    margin: 30px;
    display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: 100px;
 
    }

nav ul {
    grid-column: 2;
    text-align: center;
    
    align-self: center;
}
nav div {
    text-align: center;
    align-self: center;
}
 
 nav ul li {
     display: inline-block;
     padding: 5px;
     

 }
 nav ul li:hover {
     cursor: pointer;
 }

 .burger {
     display: grid;
     align-self: center;
     display: none;
 
 }

 .burger div {
    
    background-color: black;
    width: 20px;
    height: 5px;
    margin: 2px;
 

 }

 /*  Main */

    
 main{
     margin: 30px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows:repeat(3, 200px);
     grid-gap: 10px;
     

 }
 main div {
     border: 1px solid black;
     position: relative;
 }
 main .m2 {
     grid-column: 2/-1;
 }
 main img {

    width: 100%;
    min-height: 200px;


 }

 main section {
     text-align: center;
     width: 100%;
     position: absolute;
     top: 50%;
     left:0%;
     transform: translate(-50% -50%);
     background-color: white;

 }





 @media screen and (max-width:760px){
    body {
        position: relative;
        overflow: hidden;


    }
    nav {
        margin: 0px;
        display:grid;


    }
     nav ul {
        background-color: black;
        position: absolute;
        right: 0;
        top: 100px;
        height: 500px;
        width: 50%;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transform: translateX( 100%);
        transition: transform  1s ease-in-out;
    
        font-weight: 400;
        text-align: left;
        justify-content: center;
        text-align: center;
        z-index: 9999;
   
       
    }
     nav ul li {
         padding: 10px;
         color:white;
        

     }
     nav ul li:hover {
        background-color: white;
        color:black;
        
       

    }
     .burger {
        display:inline-block;
        grid-column: 2;
        margin:auto;
     }

     .nav-active{
        transform: translateX(0%);
        z-index: 9999;


     }

     main{
        grid-template-columns: repeat(2, 1fr);
   
    }

 }

 @media screen and (max-width: 560px){
    main{

        grid-template-columns: repeat(1, 1fr);
    }
    main .m2 {
        grid-column: 1/-1;
    }

 

 }