* , html , body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
nav {
    margin: 30px;
    display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: 100px;
  
 
    }

nav ul {
    grid-column: 2;
    text-align: center;

    align-self: center;

}
nav div {
    text-align: center;
    align-self: center;
}
 
 nav ul li {
     display: inline-block;
     padding: 5px;
     
     

 }
 nav ul li:hover {
     cursor: pointer;
 }

 .burger {
     display: grid;
     align-self: center;
     display: none;
 
 }

 .burger div {
    
    background-color: black;
    width: 20px;
    height: 5px;
    margin: 2px;
 

 }

 /*  Main */

    
 main{
     margin: 30 60px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows:repeat(2, 200px);
     grid-gap: 10px;
     

 }
 main div {
     border: 1px solid black;
     position: relative;
 }
 main .m2 {
     grid-column: 2/-1;
 }
 main img {

    width: 100%;
    height: 100%;

 }

 main section {
     text-align: center;
     width: 100%;
     position: absolute;
     top: 50%;
     left:0%;
     transform: translate(-50% -50%);
     background-color: white;

 }

 .event {
    width: 50%;
    margin: 20px auto;
    text-align: justify;

 }
 .clothes {
    background-color: #264348;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 400px;
    overflow: hidden;

}
.clothes section {
    color:white;
    justify-content: center;
    align-self: center;
    letter-spacing: 1.2px;
    padding:10px;
    text-align: left;
}
.clothes a {
    padding: 10px 5px;
    margin:10px;
    color:#fff;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
}
.clothes img {
    width: 100%;
    overflow: hidden;

}

.semiFooter{
    margin: 60px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3,150px);
    grid-row-gap: 20px;

}
.semiFooter  div {

    text-align: justify;

  

}

.s1 { 
    grid-column: 1/7;
}
.s2 {
    grid-column: 8/13;
    grid-row:  1/3;
    overflow: scroll;
}
.s3 {
    grid-column: 1/7;
}
.s4 { grid-column: 1 / 7;
 }
 .s5 {
    grid-column: 8/13;
 }
 .s5 section {
     display: grid;
     grid-template-columns: repeat(8,1fr);
     grid-gap: 10px;
     
 }
 .s5 img {
     width: 100%;
     
 }

 footer {
     height: 50%;
 }



 @media screen and (max-width:760px){
     .s5 section {
        
        display: flex;

        
     }
     .s5 img {
         padding: 20px;
     }
    body {
        position: relative;
        overflow: hidden;


    }
    nav {
        margin: 0px;
        display:grid;


    }
     nav ul {
        background-color: black;
        position: absolute;
        right: 0;
        top: 100px;
        height: 500px;
        width: 50%;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transform: translateX( 100%);
        transition: transform  1s ease-in-out;
    
        font-weight: 400;
        text-align: left;
        justify-content: center;
        text-align: center;
        z-index: 9999;
   
       
    }
     nav ul li {
         padding: 10px;
         color:white;
        

     }
     nav ul li:hover {
        background-color: white;
        color:black;
        
       

    }
     .burger {
        display:inline-block;
        grid-column: 2;
        margin:auto;
     }

     .nav-active{
        transform: translateX(0%);
        z-index: 9999;


     }

     main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(3, 200px);
   
    }
    .s2{
        display: none;
        
    }
   
    .semiFooter div {
        grid-column: 1/-1;

    

    }
    .semiFooter {
      
      margin:10px;
      
    }


}

 @media screen and (max-width: 560px){
    html {
        overflow: hidden;
    }
    main{

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:repeat(6, 200px);
        margin: 10px;
    }
    main .m2 {
        grid-column: 1/-1;
    }
    .event {
        width: 100%;
        padding: 10px;
     
    }
    .clothes img {
        align-self: center;
    }
    .clothes  {
        text-align: justify;
        padding: 0;
    }
    .semiFooter {
        grid-template-rows: 200px;
    }

 

 }

 @media screen and (max-width: 890px) {
    .semiFooter {
        grid-template-rows: 180px;
    }
    .s2 {
        height: 360px;
    }
 }