html , * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
}
body {
    margin: 100px;
}
nav {
    height: 100%;
    position: fixed;  
    display:grid;
    
}
nav ul {
    align-self:center;
 
}

h3 {
    letter-spacing: 1.2px;
    font-weight: 300;
}

.container {
    margin: 0px;
    display: grid;
   grid-template-columns: 200px 1fr;
}

main {

    grid-column: 2/-1;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 20px;
    text-align: center;
}

main .others {
    display:grid;
    grid-gap: 10px;
}

.social img {
    width: 50px;
}
.social {
    align-self: center;
}
.project img {
    width: 100%;
}

main div {
        
}





@media screen and (max-width:760px){
    
    main{
        grid-template-columns:1fr;
        grid-column: 1 / -1;
    }
    nav {
        display:inline-block;
        position: relative;
        text-align:center;
        width: 100%;
        height: inherit;
   
    }
    nav ul {
    }
    nav ul li {
        display: inline-block;
        padding: 10px;

    }
}
@media screen and (max-width: 460px){
    body {
        margin:10px;
    }
}